
	.chapters {

		width: 100%;
		display: table;
		height: 40px;
		margin: 0;
		-webkit-margin-before: 0;
		-webkit-padding-start: 0px;
		position: relative;
		top: -5px;
		&.fullscreen-mode {
			opacity: 0.5;
			position: relative;
			top: -59px;
			height: 25px;

			li {
				height: 25px;
			}
		}

		li {
			background: red;
			cursor: pointer;
			display: table-cell;
			height: 40px;
			vertical-align: middle;
			border: 1px solid #999;
			font-size: 12px;
			&.current {
				background: #fff;
				color: red;
			}
		}
	}


	#controls-wrapper {
		display: table;
		margin: 0 .25%;
		width: 99.5%;
		padding: 0 2%;
		background: #333;
		height: 30px;
		text-align: center;
		opacity: 0.6;
		margin-top: -36px;
		position: absolute;
		-webkit-box-shadow: inset -1px -2px 41px -9px rgba(0,0,0,0.61);
		-moz-box-shadow: inset -1px -2px 41px -9px rgba(0,0,0,0.61);
		box-shadow: inset -1px -2px 41px -9px rgba(0,0,0,0.61);
		&.visible {
			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
			opacity: 1;
			visibility:visible;
		}
		&.fullscreen-mode {
			width: 100%;
			margin: 0;
			position: relative;
			top: -59px;
		}
	}

	.control {
		display:table-cell;
		text-align: center;
		vertical-align: middle;
		font-size: 14px;
		opacity: 1;
	}
	#progress-wrap {
		height: 30px;
		width: 100px;
		display: table-cell;
		margin-left: 30px;
		div{
			width: 25px;
			display: inline-block;
			text-align: center;
			vertical-align: middle;
		}
		span{
			display: inline-block;
			width: 10px;
			text-align:center;
			vertical-align: middle;
		}
	}
	#play-pause {
		padding-left: 1%;
		margin: 5px;
		display:table-cell;
		position: relative;
		width: 30px;
		text-align: center;
		vertical-align: middle;
		text-indent: 9999px;
		&.playing {
			.play-button {
				transition: all 0.25s ease;
				opacity: 0;
				visibility: hidden;
			}
			.pause-button {
				transition: all 0.25s ease;
				opacity: 1;
				visibility: visible;
			}
		}

			.play-button {
				transition: all 0.25s ease;
				position: absolute;
				display:block;
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-left: 12px solid white;
				border-bottom: 8px solid transparent;
				opacity: 1;
				visibility: visible;
				top: 5px;
			}
			.pause-button {
				transition: all 0.25s ease;
				position: absolute;
				opacity: 0;
				visibility: hidden;
				top: 5px;
				span {
					width: 5px;
				  height: 15px;
				  background: #FFF;
				  display: block;
				  float: left;
				  margin-right: 2px;
				}

			}

	}

	.chapter-skip-wrap {
		display: table-cell;
		width: 100px;
		vertical-align: middle;
		margin: 6px 0px 0px 20px;
		float: left;
		height: 20px;


		.btn {

			width: 18px;
			height: 20px;
			margin-right: 10px;
			display:inline-block;


			&.prev {
				width: 30px;
				height: 20px;

				span{
					display: inline-block;
				  width: 0;
				  height: 0;
				  border-top: 7px solid rgba(0, 0, 0, 0);
				  border-right: 11px solid #FFF;
				  border-bottom: 7px solid rgba(0, 0, 0, 0);
				  margin: 0;

				  &:last-child{
				  	position: relative;
				  	left: -5px;
				  	top: 0px;
				  }
				}
			}

			&.next {
				width: 30px;
				height: 20px;

				span:last-child{
					display: inline-block;
				  width: 0;
				  height: 0;
				  border-top: 7px solid rgba(0, 0, 0, 0);
				  border-left: 11px solid #FFF;
				  border-bottom: 7px solid rgba(0, 0, 0, 0);
				  margin: 0;
				  position: relative;
				  left:-5px;
				}

				span:first-child{
					display: inline-block;
				  width: 0;
				  height: 0;
				  border-top: 7px solid rgba(0, 0, 0, 0);
				  border-left: 11px solid #FFF;
				  border-bottom: 7px solid rgba(0, 0, 0, 0);
				  margin: 0;

				}
			}
		}

	}
	#volume-control {
		width: 40px;
		height: 16px;
		display: table-cell;
		vertical-align: middle;
		#volume-icon {
			display: inline-block;
			width: 15px;
			height: 16px;
			background: url('images/volume-sprite.png') no-repeat 0 2px;
			&.quarter {
				background-position: 0 -61px;
			}
			&.half {
				background-position: 0 -30px;
			}
			&.mute {
				background-position: 0  -14px;
			}
		}
	}

	#current-chapter {
		width:100px;
		text-align: center;
		font-size: 13px;
	}

	#fullscreen {


		width: 15px;
		height: 18px;
		display: table-cell;
		vertical-align: middle;
		.fullscreen-icon {
			background:url('images/fullscreen-3.png') no-repeat 0 -20px;
			display:inline-block;
			width: 15px;
			height:18px;
			.fullscreen-mode & {

			background-position: 0 2px;
			}
		}

	}
	video {
		cursor: pointer;
	}
