html {
  background: #efefef;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, ul, ol, li, form, fieldset, legend {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Helvetica, geneva, sans-serif; }

body {
  background: #999;
  height: 100%;
  min-height: 600px;
  width: auto; }

p {
  color: #fff;
  font-size: 33px;
  font-weight: normal;
  text-align: left;
  text-transform: none; }

.l-page-wrapper {
  height: auto;
  width: 100%;
  background: #efefef;
  position: relative; }

.l-content-wrapper {
  background: #999;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  position: relative;
  height: 100%; }
  .fullscreen .l-content-wrapper {
    width: 100%;
    height: auto;
    background: black; }

#video-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  position: relative; }
  .fullscreen #video-wrapper {
    width: 100%;
    height: auto; }
  #video-wrapper video {
    -webkit-box-shadow: 6px -6px 31px -9px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 6px -6px 31px -9px rgba(0, 0, 0, 0.61);
    box-shadow: 6px -6px 31px -9px rgba(0, 0, 0, 0.61);
    height: auto;
    width: 100%;
    border: 2px solid #999;
    margin: 20px auto 0; }
    .fullscreen #video-wrapper video {
      width: 100%;
      height: auto;
      margin: 0 auto; }

input[type="range"] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  border-radius: 3px;
  position: relative;
  top: -5px; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type="range"]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent; }

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  margin-top: -4px;
  border-radius: 16px;
  background: #efefef;
  cursor: pointer; }

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #efefef;
  cursor: pointer; }

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #efefef;
  cursor: pointer; }

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #000;
  border-style: inset; }

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #efefef; }

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff;
  border: 1px solid #000;
  border-style: inset;
  border-radius: 3px; }

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  border: 1px solid #000;
  border-style: inset;
  color: transparent; }

input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9; }

input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }

input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	  `contenteditable` attribute is included anywhere else in the document.
 *	  Otherwise it causes space to appear at the top and bottom of elements
 *	  that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	  `:before` to contain the top-margins of child elements.
 */
/**
 * Image replacement
 */
.chapters {
  width: 100%;
  display: table;
  height: 60px;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0px;
  position: relative;
  top: -5px; }
  .chapters li {
    background: red;
    cursor: pointer;
    display: table-cell;
    height: 60px;
    vertical-align: middle;
    border: 1px solid #999; }
    .chapters li.current {
      background: #fff;
      color: red; }

#controls-wrapper {
  margin: 0 5%;
  width: 90%;
  background: #333;
  padding: 10px 50px;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-box-shadow: inset -1px -2px 41px -9px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: inset -1px -2px 41px -9px rgba(0, 0, 0, 0.61);
  box-shadow: inset -1px -2px 41px -9px rgba(0, 0, 0, 0.61); }
  #controls-wrapper.visible {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
    visibility: visible; }

#progress-wrap {
  float: left;
  width: 80px;
  display: inline-block; }
  #progress-wrap div {
    width: 25px;
    display: inline-block;
    text-align: center; }
  #progress-wrap span {
    display: inline-block;
    width: 10px;
    text-align: center; }

#play-pause {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  text-indent: 9999px; }
  #play-pause.playing .play-button {
    transition: all 0.25s ease;
    opacity: 0;
    visibility: hidden; }
  #play-pause.playing .pause-button {
    transition: all 0.25s ease;
    opacity: 1;
    visibility: visible; }
  #play-pause .play-button {
    transition: all 0.25s ease;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid white;
    border-bottom: 10px solid transparent;
    opacity: 1;
    visibility: visible; }
  #play-pause .pause-button {
    transition: all 0.25s ease;
    position: absolute;
    opacity: 0;
    visibility: hidden; }
    #play-pause .pause-button span {
      width: 5px;
      height: 15px;
      background: #FFF;
      display: block;
      float: left;
      margin-right: 2px; }

.chapter-skip-wrap {
  float: left;
  margin: 2px 0 0 20px; }
  .chapter-skip-wrap .btn {
    float: left;
    width: 18px;
    height: 20px;
    margin-right: 10px;
    display: inline-block; }
    .chapter-skip-wrap .btn.prev {
      width: 30px;
      height: 20px; }
      .chapter-skip-wrap .btn.prev span {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-right: 11px solid #FFF;
        border-bottom: 7px solid transparent;
        margin: 0; }
        .chapter-skip-wrap .btn.prev span:last-child {
          position: relative;
          left: -5px;
          top: 0px; }
    .chapter-skip-wrap .btn.next {
      width: 30px;
      height: 20px; }
      .chapter-skip-wrap .btn.next span:last-child {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 11px solid #FFF;
        border-bottom: 7px solid transparent;
        margin: 0;
        position: relative;
        left: -5px; }
      .chapter-skip-wrap .btn.next span:first-child {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 11px solid #FFF;
        border-bottom: 7px solid transparent;
        margin: 0; }

#volume-control {
  width: 150px;
  float: left;
  display: inline-block; }
  #volume-control input {
    margin-top: -15px;
    width: 75px; }
  #volume-control #volume-icon {
    display: inline-block;
    width: 34px;
    height: 28px;
    background: url("images/volume-sprite.png") no-repeat 0 0; }
    #volume-control #volume-icon.quarter {
      background-position: 0 -61px; }
    #volume-control #volume-icon.half {
      background-position: 0 -30px; }
    #volume-control #volume-icon.mute {
      background-position: 0  -121px; }

#fullscreen {
  float: right;
  background: url("images/fullscreen-3.png") no-repeat 0 -45px;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  top: -10px; }
  .fullscreen-mode #fullscreen {
    background-position: 0 0; }

video {
  cursor: pointer; }

.is-hidden {
  display: none; }

.is-visible {
  display: block !important; }

/*# sourceMappingURL=style.css.map */
